.grid-container{
  @media (max-width: 1150px) {
    margin-top: 5rem;
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(6, minmax(190px, 16%));
  max-width: 1680px;
  margin: 0 auto;
  justify-content: center;

  @media (max-width: 1150px) {
    grid-template-columns: repeat(3, minmax(100px, 30%))
  }
  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, minmax(100px, 60%))
  }

  max-height: 0px;
  visibility: hidden;
  pointer-events: none;

  &.active {
    max-height: unset;
    visibility: visible;
    pointer-events: auto;
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  transition: 1s;

  // @media (min-width: 1150px) {
  //   @for $i from 1 to 4 {
  //     &:nth-child(#{$i}){
  //       margin-top: 0 * #{$i}px;
  //     }
  //   }
  // }

  &:nth-child(1) {
    margin-top: 0;
    transition-delay: $columns-transition-delay * 0;
  }
  &:nth-child(2) {
    margin-top: 160px;
    transition-delay: $columns-transition-delay * 1;
  }
  &:nth-child(3) {
    margin-top: 320px;
    transition-delay: $columns-transition-delay * 2;
  }
  &:nth-child(4) {
    margin-top: 320px;
    transition-delay: $columns-transition-delay * 3;
  }
  &:nth-child(5) {
    margin-top: 160px;
    transition-delay: $columns-transition-delay * 4;
  }
  &:nth-child(6) {
    margin-top: 0px;
    transition-delay: $columns-transition-delay * 5;
  }
}

.item{
  width: 90%;
  min-height: 200px;
  max-height: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px $red;

  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.item:not(:first-child){
  margin-top: 1rem;
}