.heading {
  margin-top: 120px;
  overflow-x: visible;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .text {
    font-size: 50px;
    font-weight: 600;
  }
  h2.text{
    font-size: 2.5rem;
    word-wrap: break-word;
  }
  .wrapper {
    position: relative;

    .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }
    .text {
      white-space: nowrap;
      color: $red;

      transition-duration: 1s;
    }
  }
  button {
    font-size: 16px;
    font-weight: 700;
    padding: 11px 12px;
    border-radius: 24px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login {
    color: $white;
    background: $red;
  }
}